script/TTS/flows.json
[
    {
        "id": "8e6a23ab391330a5",
        "type": "tab",
        "label": "Alexa Tecnopolo - TTS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "017919692837aff5",
        "type": "debug",
        "z": "8e6a23ab391330a5",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "3591bffc50436d7a",
        "type": "debug",
        "z": "8e6a23ab391330a5",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "99b95313d8455a90",
        "type": "alexa-remote-routine",
        "z": "8e6a23ab391330a5",
        "name": "",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "msg",
                    "value": "data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 920,
        "y": 260,
        "wires": [
            [
                "017919692837aff5"
            ]
        ]
    },
    {
        "id": "d3d38b5a8b36dd62",
        "type": "alexa-remote-init",
        "z": "8e6a23ab391330a5",
        "name": "",
        "account": "9143800af291332b",
        "option": "initialise",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0dae138d20e65e4d",
        "type": "ROS2 Type",
        "z": "8e6a23ab391330a5",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "52df34891f17e269"
            ]
        ]
    },
    {
        "id": "52df34891f17e269",
        "type": "Subscriber",
        "z": "8e6a23ab391330a5",
        "topic": "alexa/tts",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "99b95313d8455a90",
                "3591bffc50436d7a"
            ]
        ]
    },
    {
        "id": "9143800af291332b",
        "type": "alexa-remote-account",
        "name": "Alexa-Davide",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "/home/davide/AuthFile",
        "refreshInterval": "3",
        "alexaServiceHost": "alexa.amazon.it",
        "pushDispatchHost": "",
        "amazonPage": "amazon.it",
        "acceptLanguage": "it-IT",
        "onKeywordInLanguage": "on",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    },
    {
        "id": "bbcb77f90791ab85",
        "type": "dds-settings",
        "domain": "10"
    }
]