script/Skill/flows.json
[
    {
        "id": "792ca98ac735cc70",
        "type": "tab",
        "label": "Alexa Tecnopolo - ERF 2023",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f245310ef412b666",
        "type": "alexa-remote-routine",
        "z": "792ca98ac735cc70",
        "name": "",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "msg",
                    "value": "data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 660,
        "y": 280,
        "wires": [
            [
                "1296715c43d6ba78"
            ]
        ],
        "inputLabels": [
            "/tts"
        ]
    },
    {
        "id": "1296715c43d6ba78",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "d95370cf8217566c",
        "type": "alexa-remote-init",
        "z": "792ca98ac735cc70",
        "name": "",
        "account": "9143800af291332b",
        "option": "initialise",
        "x": 260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f15f5a41304b46bb",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "fc57878c529133a0",
        "type": "alexa-remote-routine",
        "z": "792ca98ac735cc70",
        "name": "provide screw",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "ask ur ten provide screw robot request dialog"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 1020,
        "y": 400,
        "wires": [
            [
                "142119bddec3cbec"
            ]
        ]
    },
    {
        "id": "142119bddec3cbec",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 400,
        "wires": []
    },
    {
        "id": "72e767344478b42e",
        "type": "switch",
        "z": "792ca98ac735cc70",
        "name": "event manager",
        "property": "data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "can take it",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 400,
        "wires": [
            [
                "99618e6f7c6a60fd"
            ]
        ]
    },
    {
        "id": "aaf54d167cd72255",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "99618e6f7c6a60fd",
        "type": "delay",
        "z": "792ca98ac735cc70",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 400,
        "wires": [
            [
                "fc57878c529133a0"
            ]
        ]
    },
    {
        "id": "b0962f318d3d974f",
        "type": "alexa-remote-routine",
        "z": "792ca98ac735cc70",
        "name": "",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "msg",
                    "value": "data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 890,
        "y": 580,
        "wires": [
            [
                "da9847b37b0d41ec"
            ]
        ],
        "inputLabels": [
            "/tts"
        ]
    },
    {
        "id": "da9847b37b0d41ec",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "f71160276700c7bb",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "6d5a1062483d9e4f",
        "type": "delay",
        "z": "792ca98ac735cc70",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "b0962f318d3d974f"
            ]
        ]
    },
    {
        "id": "170c98a1fa74bf08",
        "type": "ROS2 Type",
        "z": "792ca98ac735cc70",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "319d0a574a153ef1"
            ]
        ]
    },
    {
        "id": "319d0a574a153ef1",
        "type": "Subscriber",
        "z": "792ca98ac735cc70",
        "topic": "alexa/tts",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "f245310ef412b666",
                "f15f5a41304b46bb"
            ]
        ]
    },
    {
        "id": "dd2ec83d60fc0e30",
        "type": "ROS2 Type",
        "z": "792ca98ac735cc70",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "eb7fa4732182ab54"
            ]
        ]
    },
    {
        "id": "eb7fa4732182ab54",
        "type": "Subscriber",
        "z": "792ca98ac735cc70",
        "topic": "alexa/events",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "72e767344478b42e",
                "aaf54d167cd72255"
            ]
        ]
    },
    {
        "id": "9d6c166fd095b6e4",
        "type": "ROS2 Type",
        "z": "792ca98ac735cc70",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "fe751e6c6198ed66"
            ]
        ]
    },
    {
        "id": "fe751e6c6198ed66",
        "type": "Subscriber",
        "z": "792ca98ac735cc70",
        "topic": "alexa/test_voice_command",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "6d5a1062483d9e4f",
                "f71160276700c7bb"
            ]
        ]
    },
    {
        "id": "9143800af291332b",
        "type": "alexa-remote-account",
        "name": "Alexa-Davide",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "/home/davide/AuthFile",
        "refreshInterval": "3",
        "alexaServiceHost": "alexa.amazon.it",
        "pushDispatchHost": "",
        "amazonPage": "amazon.it",
        "acceptLanguage": "it-IT",
        "onKeywordInLanguage": "on",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    },
    {
        "id": "bbcb77f90791ab85",
        "type": "dds-settings",
        "domain": "10"
    }
]