script/Skill/flows.json
[
    {
        "id": "792ca98ac735cc70",
        "type": "tab",
        "label": "Alexa Tecnopolo - ERF 2023",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd15730b9473127d",
        "type": "ros-subscribe",
        "z": "792ca98ac735cc70",
        "server": "d5573a5bee7c42db",
        "topicname": "/alexa/tts",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "f245310ef412b666",
                "f15f5a41304b46bb"
            ]
        ]
    },
    {
        "id": "f245310ef412b666",
        "type": "alexa-remote-routine",
        "z": "792ca98ac735cc70",
        "name": "",
        "account": "ac7b59c675058ce4",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "msg",
                    "value": "payload.data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 900,
        "y": 220,
        "wires": [
            [
                "1296715c43d6ba78"
            ]
        ],
        "inputLabels": [
            "/tts"
        ]
    },
    {
        "id": "1296715c43d6ba78",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "d95370cf8217566c",
        "type": "alexa-remote-init",
        "z": "792ca98ac735cc70",
        "name": "",
        "account": "ac7b59c675058ce4",
        "option": "initialise",
        "x": 320,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f15f5a41304b46bb",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc57878c529133a0",
        "type": "alexa-remote-routine",
        "z": "792ca98ac735cc70",
        "name": "provide screw",
        "account": "ac7b59c675058ce4",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "ask ur ten provide screw robot request dialog"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 880,
        "y": 400,
        "wires": [
            [
                "142119bddec3cbec"
            ]
        ]
    },
    {
        "id": "142119bddec3cbec",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "580be87ce5789fa4",
        "type": "ros-subscribe",
        "z": "792ca98ac735cc70",
        "server": "d5573a5bee7c42db",
        "topicname": "/alexa/events",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "72e767344478b42e",
                "aaf54d167cd72255"
            ]
        ]
    },
    {
        "id": "72e767344478b42e",
        "type": "switch",
        "z": "792ca98ac735cc70",
        "name": "event manager",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "can take it",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "99618e6f7c6a60fd"
            ]
        ]
    },
    {
        "id": "aaf54d167cd72255",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "99618e6f7c6a60fd",
        "type": "delay",
        "z": "792ca98ac735cc70",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "fc57878c529133a0"
            ]
        ]
    },
    {
        "id": "7c33f956c09fbc07",
        "type": "ros-subscribe",
        "z": "792ca98ac735cc70",
        "server": "d5573a5bee7c42db",
        "topicname": "/alexa/test_voice_command",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "f71160276700c7bb",
                "6d5a1062483d9e4f"
            ]
        ]
    },
    {
        "id": "b0962f318d3d974f",
        "type": "alexa-remote-routine",
        "z": "792ca98ac735cc70",
        "name": "",
        "account": "ac7b59c675058ce4",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "msg",
                    "value": "payload.data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 890,
        "y": 580,
        "wires": [
            [
                "da9847b37b0d41ec"
            ]
        ],
        "inputLabels": [
            "/tts"
        ]
    },
    {
        "id": "da9847b37b0d41ec",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "f71160276700c7bb",
        "type": "debug",
        "z": "792ca98ac735cc70",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "6d5a1062483d9e4f",
        "type": "delay",
        "z": "792ca98ac735cc70",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "b0962f318d3d974f"
            ]
        ]
    },
    {
        "id": "d5573a5bee7c42db",
        "type": "ros-server",
        "url": "ws://localhost:9091/"
    },
    {
        "id": "ac7b59c675058ce4",
        "type": "alexa-remote-account",
        "name": "Alexa-Davide",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.1.8",
        "proxyPort": "3456",
        "cookieFile": "AuthFile",
        "refreshInterval": "5",
        "alexaServiceHost": "alexa.amazon.it",
        "amazonPage": "amazon.it",
        "acceptLanguage": "it-IT",
        "onKeywordInLanguage": "on",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    }
]